*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    background-color: #ffffff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   flex-direction: row;
}
li a { 
    text-align: none;
    font-size: 20px;
    color: #000000;
    padding: 20px;
}
li{
    list-style: none;
}
#logo{
    height: 30px;
    width: 100px;
}
ul{
    display: flex;
   flex-direction: row;
}